body {
  font-family: Arial, sans-serif;
}
.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}
h1, h2, h3 {
  text-align: center;
  color: #234428;
}
title {
  color: #234428
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  margin-bottom: 10px;
}
.book, .member {
  border: 1px solid #234428;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.actions {
  margin-top: 10px;
}
.form-group {
  margin-bottom: 15px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
}
.form-group input, .form-group select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}
.form-group button {
  padding: 10px 15px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
}
.form-group button:disabled {
  background-color: #ccc;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #234428;
}
th {
  background-color: #f2f2f2;
}