body {
  font-family: Garamond, serif;
  font-size: 20px;
  font-weight: bold;
  background-color: #a2bfc0;
  background-image: url();
  background-repeat: no-repeat;
  background-attachment:fixed;
}
h1, h2, h3 {
  text-align: center;
  color: #1B3022;
  font-weight: bold; 
  font-size: 40px;
}
h4 {
  text-align: center;
  color: #1B3022;
  font-weight: bold; 
}
p {
  color: #1B3022;
  font-weight: bold; 
  font-size: 20px;
}
title {
  color: #772014;
  font-weight: bold; 
  font-size: 100px;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  margin-bottom: 10px;
}
.book, .member {
  border: 1px solid #1B3022;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.actions {
  margin-top: 10px;
}
.form-group {
  margin-bottom: 15px;
}
.form-group2 {
  text-align: right;
  margin-bottom: 15px;
  margin-right: 250px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
}
.form-group input, .form-group select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}
.form-group button {
  padding: 10px 15px;
  height: 50px;
  background-color: #772014;
  color: white;
  border: none;
  cursor: pointer;
}
.form-group2 button {
  padding: 10px 15px;
  height: 50px;
  background-color: #772014;
  color: white;
  border: none;
  cursor: pointer;
}
table {
  width: 100%;
  border-collapse: collapse;
  empty-cells: hide;
}
th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #1B3022;
}
th {
  background-color: #1B3022;
  color: white;
}
.container {
  margin: auto;
  padding: 20px;
}